{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{% block head %}
  {% if page.secondary_menu or page.top_header or page.top_header_form %}
    <nav{{ navbar_top_attributes }}>
      {% if container_navbar %}
      <div class="container">
        {% endif %}
        {{ page.secondary_menu }}
        {{ page.top_header }}
        {% if page.top_header_form %}
          <div class="form-inline navbar-form float-right">
            {{ page.top_header_form }}
          </div>
        {% endif %}
        {% if container_navbar %}
      </div>
      {% endif %}
    </nav>
  {% endif %}

  <div class="header-main" style="min-height:30px;">
    <div class="header-menu">
      <i class="header-icon header-icon-menu"></i>
    </div>
    <div class="header-menu-mb">
      <i class="header-icon header-icon-menu"></i>
    </div>
    {#<a class="header-logo" bi_name="logo" href="//www.huaweicloud.com"></a>#}
    <a style="line-height: 60px;" class="float-left" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ logo }}" alt="
      {{ site_name }}
      {% if site_slogan %}
        {{ site_slogan }}
      {% endif %}
      " /></a>
    <div class="header-nav">
      <ul class="header-nav-list">

        <li data-key="activity" class="header-nav-hot active">
          <a href="https://activity.huaweicloud.com/promotion/" target="_blank">最新活动</a>
        </li>

        <li data-key="product" class="">
          <a href="https://www.huaweicloud.com/product/" target="_blank">产品</a>
        </li>

        <li data-key="solution" class="">
          <a href="https://www.huaweicloud.com/solution/" target="_blank">解决方案</a>
        </li>

        <li data-key="price" class="header-nav-hot">
          <a href="https://www.huaweicloud.com/product/price.html" target="_blank">定价</a>
        </li>

        <li data-key="ei" class="header-nav-hot">
          <a href="https://www.huaweicloud.com/ei/" target="_blank">EI 企业智能</a>
        </li>

        <li data-key="market" class="header-nav-hot hover">
          <a href="https://market.huaweicloud.com/?locale=zh-cn" target="_blank">云市场</a>
        </li>

        <li data-key="community" class="">
          <a href="https://bbs.huaweicloud.com/" target="_blank">云社区</a>
        </li>

        <li data-key="ecology" class="">
          <a href="https://www.huaweicloud.com/partners/" target="_blank">合作伙伴</a>
        </li>

        <li data-key="support" class="header-nav-hot hover">
          <a href="https://support.huaweicloud.com/" target="_blank">支持与服务</a>
        </li>

        <li class="header-nav-item-more header-nav-item-hide" data-key="more">
          <a href="javascript:">更多</a>
        </li>
      </ul>
      <div class="header-nav-hover-line" style="width: 0px; left: 0px;"></div>
    </div>

    <div class="header-tools">
      <ul class="header-tools-list">
        <li class="header-search-switch" bi_name="searchIcon" mate_data_ts="www_china_zh-cn_index_navigation.click.searchIcon"><i class="header-icon header-icon-search"></i></li>
        <li class="header-lang">
          <div class="header-lang-current"><i class="header-icon header-icon-lang-zh"></i><span class="header-lang-label">中国站</span></div>
          <ul class="header-lang-list">
            <li class="header-lang-item active"><a>中国站 - 简体中文</a></li>
            <li class="header-lang-item"><a href="javascript:changeLang('en-us');">中国站 - English</a></li>
            <li class="header-lang-item"><a href="//intl.huaweicloud.com/zh-cn/?locale=zh-cn">International - 简体中文</a></li>
            <li class="header-lang-item"><a href="//intl.huaweicloud.com/?locale=en-us">International - English</a></li>
          </ul>
        </li>
        <li><a href="//console.huaweicloud.com?locale=zh-cn">控制台</a></li>
        <li><a href="//support.huaweicloud.com/beian_index.html">备案</a></li>
        <li class="header-login-mobile">
          <a data-login-href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=" href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=https%3A%2F%2Fwww.huaweicloud.com%2F">
            <span class="header-icon header-icon-user js-login"></span>
          </a>
        </li>
        <li class="header-login"><a data-login-href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=" href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=https%3A%2F%2Fwww.huaweicloud.com%2F" mate_data_ts="www_v2_top_navigation.click.login" class="btn js-login">登录</a></li>
        <li class="header-register"><a href="//reg.huaweicloud.com/registerui/public/custom/register.html?locale=zh-cn#/register" class="btn js-register">注册</a></li>
        <li class="header-user user-info msg">
          <div class="header-user-avator">
            <img class="header-tool-user-avator-img account-pic" src="//static.huaweicloud.com/static/v2_resources/images/global/headPic.png?sttl=20180413&amp;sttl=20185176">
          </div>
          <div class="header-user-name"><span class="my-acct"> </span><i class="header-icon-corner-down"></i></div>
          <div class="header-user-info user-info-layer">
            <ul class="header-user-info-list account-nav">
              <li class="header-user-info-item-account account-item">
                <a href="//account.huaweicloud.com/usercenter/#/userindex/accountInfo">账号中心</a>
                <a class="account-verification header-verification active" href="//account.huaweicloud.com/usercenter/#/userindex/realNameAuth">
                  <i class="header-icon header-icon-verification"></i>
                  <p class="state-unactive">未实名认证</p>
                  <p class="state-active">已实名认证</p>
                </a>
              </li>
              <li><a href="//account.huaweicloud.com/usercenter/?locale=zh-cn#/userindex/allview">费用中心</a></li>
              <li><a href="//console.huaweicloud.com/ticket/?locale=zh-cn#/ticketindex/serviceTickets">工单管理</a></li>
              <li class="message"><a href="//console.huaweicloud.com/mc/">未读消息<span>0</span></a></li>
              <li class="header-user-info-split"></li>
              <li class="isVendor" style="display:none;"><a href="//account.huaweicloud.com/obmgr/#/obmgr/index">伙伴中心</a></li>
              <li class="isIsv" style="display:none;"><a href="//console.huaweicloud.com/marketplace/isv/#/console/business">卖家中心</a></li>
              <li class="header-user-info-split isVendor isIsv" style="display:none;"></li>
              <li class="logout"><a href="//portal.huaweicloud.com/index/logout">退出</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>


{% endblock %}


{% block footer %}
  <div class="footer-service" meta-data-adjust-app="hide">
    <div class="footer-wrapper footer-service-wrapper">
      <ul>
        <li>
          <a href="https://www.huaweicloud.com/about/protection.html#service-support-01" bi_name="7*24" target="_blank">
            <i class="footer-icon-support"></i>
            <h2>7*24</h2>
            <p>多渠道服务支持</p>
          </a>
        </li>
        <li>
          <a href="https://www.huaweicloud.com/about/protection.html#service-support-02" bi_name="5day" target="_blank">
            <i class="footer-icon-unsub"></i>
            <h2>5天</h2>
            <p>内无理由退订</p>
          </a>
        </li>
        <li>
          <a href="https://www.huaweicloud.com/about/protection.html#service-support-03" bi_name="record" target="_blank">
            <i class="footer-icon-record"></i>
            <h2>0元</h2>
            <p>免费备案</p>
          </a>
        </li>
        <li>
          <a href="https://www.huaweicloud.com/about/protection.html#service-support-04" bi_name="peichang" target="_blank">
            <i class="footer-icon-pay"></i>
            <h2>赔偿</h2>
            <p>100倍故障赔偿</p>
          </a>
        </li>
        <li>
          <a href="https://www.huaweicloud.com/about/protection.html#service-support-05" bi_name="feedBack" target="_blank">
            <i class="footer-icon-feedback"></i>
            <h2>意见</h2>
            <p>反馈与投诉建议</p>
          </a>
        </li>
        <li>
          <a href="https://www.huaweicloud.com/about/protection.html#service-support-06" bi_name="vip" target="_blank">
            <i class="footer-icon-vip"></i>
            <h2>VIP</h2>
            <p>专享服务</p>
          </a>
        </li>
      </ul>
    </div>
  </div>



  <div class="footer-nav" meta-data-adjust-app="hide">
    <div class="footer-wrapper">
      <div class="footer-nav-menus">
        <dl bi_parent_name="产品支持">
          <dt>产品与支持</dt>
          <dd><a class="footer-link" href="//www.huaweicloud.com/product/" target="_blank" rel="nofollow">产品</a></dd>
          <dd><a class="footer-link" href="//www.huaweicloud.com/solution/" target="_blank" rel="nofollow">解决方案</a></dd>
          <dd><a class="footer-link" href="//app.huaweicloud.com" target="_blank" rel="nofollow">云市场</a></dd>
          <dd><a class="footer-link" href="//developer.huaweicloud.com" target="_blank" rel="nofollow">开发者中心</a></dd>
          <dd><a class="footer-link" href="//portal.huaweicloud.com/consultation" target="_blank" rel="nofollow">服务咨询</a></dd>
          <dd><a class="footer-link" href="//support.huaweicloud.com" target="_blank" rel="nofollow">帮助中心</a></dd>
          <dd><a class="footer-link" href="//portal.huaweicloud.com/feedback" target="_blank" rel="nofollow">意见反馈</a></dd>
          <dd><a class="footer-link" href="//www.huaweicloud.com/about/contact.html" target="_blank" rel="nofollow">联系我们</a></dd>
          <dd><a class="footer-link" href="//www.huaweicloud.com/about/VIP_client.html" target="_blank" rel="nofollow">支持与服务计划</a></dd>
        </dl>
        <dl bi_parent_name="账号与支付">
          <dt>账号与支付</dt>
          <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/balanceRecharge" target="_blank" rel="nofollow">充值/付款</a></dd>
          <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?locale=zh-cn&amp;agencyId=1ed3f1041585452bb4770842b2d1dbb8&amp;region=cn-north-1#/userindex/contractApply" target="_blank" rel="nofollow">合同申请</a></dd>
          <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/balanceRecharge" target="_blank" rel="nofollow">线下汇款/电汇</a></dd>
          <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/invoiceCenter" target="_blank" rel="nofollow">索取发票</a></dd>
        </dl>
        <dl bi_parent_name="快速链接">
          <dt>快速链接</dt>
          <dd><a class="footer-link" href="//portal.huaweicloud.com/pricing" target="_blank" rel="nofollow">价格计算器</a></dd>
          <dd><a class="footer-link" href="https://console.huaweicloud.com/console/?region=cn-east-2&amp;locale=zh-cn#/home" target="_blank" rel="nofollow">管理控制台</a></dd>
          <dd><a class="footer-link" href="//support.huaweicloud.com/beian_index.html" target="_blank" rel="nofollow">备案中心</a></dd>
          <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?locale=zh-cn#/userindex/allview" target="_blank" rel="nofollow">费用中心</a></dd>
          <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?agencyId=ef87414dfee34e5e84679275504170a9&amp;region=cn-east-2&amp;locale=zh-cn#/accountindex/accountInfo" target="_blank" rel="nofollow">账号中心</a></dd>
          <dd><a class="footer-link" href="//developer.huaweicloud.com/dsource/" target="_blank" rel="nofollow">华为云图标库</a></dd>
          <dd><a class="footer-link" href="//developer.huaweicloud.com/axurelib/" target="_blank">华为云Axure组件库</a></dd>
        </dl>
        <dl bi_parent_name="关于华为云">
          <dt>关于华为云</dt>
          <dd><a class="footer-link" href="//www.huaweicloud.com/about/index.html" target="_blank" rel="nofollow">了解华为云</a></dd>
          <dd><a class="footer-link" href="//www.huaweicloud.com/about/about_us.html" target="_blank" rel="nofollow">华为云简介</a></dd>
          <dd><a class="footer-link" href="//www.huaweicloud.com/cases/cases_1.html" target="_blank" rel="nofollow">客户案例</a></dd>
          <dd class="split-line"></dd>
          <dt>信任中心</dt>
          <dd><a class="footer-link" href="//www.huaweicloud.com/securecenter/overallsafety.html" target="_blank" rel="nofollow">华为云安全</a></dd>
          <dd><a class="footer-link" href="//www.huaweicloud.com/securecenter/safetycompliance.html" target="_blank" rel="nofollow">安全合规</a></dd>
        </dl>

        <div class="footer-nav-other-link" bi_parent_name="其他链接">
          <span>其他链接</span>
          <a class="footer-link" href="//www.huawei.com/cn/?ic_medium=direct&amp;ic_source=surlent" target="_blank" rel="nofollow">华为官网</a>
          <a class="footer-link" href="//developer.huawei.com/ict/cn" target="_blank" rel="nofollow">华为开发者中心</a>
          <a class="footer-link" href="//developer.huawei.com/cn/consumer" target="_blank" rel="nofollow">华为开发者联盟</a>
          <a class="footer-link" href="//e.huawei.com/cn/" target="_blank" rel="nofollow">华为企业业务</a>
          <a class="footer-link" href="//www.vmall.com/#cid=92120" target="_blank" rel="nofollow">华为商城</a>
          <a class="footer-link" href="//career.huawei.com/reccampportal/#campus4/content.html" target="_blank" rel="nofollow">华为招聘</a>
        </div>
      </div>
      <div class="footer-nav-submenus">
        <div class="footer-nav-submenus-inner">
          <div class="footer-nav-contact">
            <div class="footer-nav-contact-phone">
              <h1>上云服务热线</h1>
              <p>4000 955 988</p>
              <ul>
                <li><a href="mailto:huaweicloud.ss@huawei.com">售前咨询</a>
                  <div class="foot-email">
                    <p>
                      <a href="mailto:huaweicloud.ss@huawei.com">huaweicloud.ss@huawei.com</a>
                    </p>
                  </div>
                </li>
                <li>
                  <a href="mailto:huaweicloud.ba@huawei.com">备案服务</a>
                  <div class="foot-email foot-email-right">
                    <p>
                      <a href="mailto:huaweicloud.ba@huawei.com">huaweicloud.ba@huawei.com</a>
                    </p>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="mailto:huaweicloud.mp@huawei.com">云市场咨询</a>
                  <div class="foot-email">
                    <p>
                      <a href="mailto:huaweicloud.mp@huawei.com">huaweicloud.mp@huawei.com</a>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <dl class="footer-nav-about">
            <dt>关注华为云</dt>
            <dd class="show">
              <i class="footer-icon-wechat"></i>
              <a class="footer-nav-submenus-link weixin-sh">华为云微信</a>
              <a class="footer-nav-submenus-qr qr-wechat"></a>
            </dd>
            <dd class="footer-nav-about-dd-mb">
              <i class="footer-icon-phone"></i>
              <a class="footer-nav-submenus-link footer-nav-submenus-link-phone" href="tel:4000955988">4000 955 988</a>
            </dd>
            <dd>
              <i class="footer-icon-weibo"></i>
              <a class="footer-nav-submenus-link" href="//weibo.com/p/1006061930559805">华为云微博</a>
              <a class="footer-nav-submenus-qr qr-weibo" href="//weibo.com/p/1006061930559805"></a>
            </dd>
            <dd class="">
              <i class="footer-icon-zhihu"></i>
              <a class="footer-nav-submenus-link" href="//www.zhihu.com/org/hua-wei-yun-ji-zhu-zhai-ji-di/activities">知乎社区号</a>
              <a class="footer-nav-submenus-qr qr-zhihu" href="//www.zhihu.com/org/hua-wei-yun-ji-zhu-zhai-ji-di/activities"></a>
            </dd>
          </dl>
          <ul class="footer-law-mb">
            <li><a href="//www.huawei.com/cn/" target="_blank">华为官网</a></li>
            <li><a href="//m.vmall.com/app/download" target="_blank">华为商城</a></li>
            <li><a href="//www.huaweicloud.com/declaration/statement.html" target="_blank">法律声明</a></li>
            <li><a href="//www.huaweicloud.com/declaration/sa_prp.html" target="_blank">隐私政策声明</a></li>
          </ul>
          <div class="wx-pop-wrapper">
            <div class="wx-pop">
              <img class="dbl-lazy loaded" src="//static.huaweicloud.com/static/v2_resources/images/global/footer/weixin-mobile.png">
              <p class="wx-info">长按/截图保存，微信识别二维码<br>或者关注公众号“华为云”</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="{{ container }} footer-copyright-container">

      <div class="footer-wrapper footer-copyright-wrapper">
        <ul class="footer-law">
          <li><a class="footer-link" href="//www.huaweicloud.com/declaration/statement.html" target="_blank" rel="nofollow">法律声明</a></li>
          <li><a class="footer-link" href="//www.huaweicloud.com/declaration/sa_prp.html" target="_blank" rel="nofollow">隐私政策声明</a></li>
          <li><a class="footer-link" href="//www.huaweicloud.com/declaration/sa_nisr.html" target="_blank" rel="nofollow">可接受的使用政策</a></li>
          <li><a class="footer-link" href="//www.huaweicloud.com/declaration/sa_cua.html" target="_blank" rel="nofollow">华为云用户协议</a></li>
          <li><a class="footer-link" href="//portal.huaweicloud.com/feedback?type=jubao" target="_blank" rel="nofollow">举报不良信息</a></li>
        </ul>
        <div class="footer-copyright">
          <span>版权所有 © 华为软件技术有限公司 2018</span>
          <span>保留一切权利</span>
          <a class="footer-link" href="//www.miitbeian.gov.cn" target="_blank" rel="nofollow">苏ICP备17040376号-5</a>
          <span>苏B2-20130048号</span>
        </div>
        <div class="footer-record">
          <i class="footer-icon-record1"></i>
          <i class="footer-icon-record2"><a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011402010008" target="_blank"></a></i>
          <span>苏公网安备 32011402010008号</span>
        </div>
      </div>

  </div>
{% endblock %}