{{ form.form_build_id }}
{{ form.form_id }}
<div class="loginTypeDiv">
  <span class="loginTypeNoSelected ng-scope ng-binding">{% trans %}Find my password {% endtrans %}</span>
</div>
<ul>
  <li class="inputField" style="margin-top: 20px; margin-left: 10px; margin-bottom: 10px;">{{ form.name }}</li>
</ul>

<div>
  <div id="buttonArea">
    <div id="loginBtn">
      {{ form.actions }}
    </div>

    <div id="bottomBtns">
      <a target="_self" href="{{ path('user.register') }}" style="float: left;" class="loginBottomColor">{% trans %} Register {% endtrans %}</a>
      <span id="subUserLogin" class="loginswap loginBottomColor" style="margin-right:5px;">
        <a href="{{ path('user.login') }}" target="_self" class="loginBottomColor">{% trans %}Login{% endtrans %}</a>
      </span>
    </div>

  </div>
</div>