{{ form.form_build_id }}
{{ form.form_id }}

<div class="loginTypeDiv">
  <span class="loginTypeNoSelected ng-scope ng-binding">{% trans %} Account Register {% endtrans %}</span>
</div>
<ul>
  <li class="inputField" style="margin-top: 20px; margin-left: 10px; margin-bottom: 10px;">{{ form.account.name }}</li>
  <li class="inputField" style="margin-left: 10px;">{{ form.account.mail }}</li>
  <li class="inputField" style="margin-top: 20px; margin-left: 10px; margin-bottom: 5px;">{{ form.account.pass}}</li>
</ul>

<div>
  <div id="buttonArea" style="padding-bottom: 0;">
    <div id="loginBtn">
      {{ form.actions }}
    </div>

    <div id="bottomBtns">
      <a target="_self" href="{{ path('user.login') }}" style="float: left;" class="loginBottomColor">{% trans %}Login{% endtrans %}</a>
      <span id="subUserLogin" class="loginswap loginBottomColor" style="margin-right:5px;">
        <a href="{{ path('user.pass') }}" target="_self" class="loginBottomColor">{% trans %}Forgot?{% endtrans %}</a>
      </span>
    </div>

  </div>
</div>