{% extends "@bootstrap/system/page.html.twig" %}

{% block main %}
  {{ attach_library('aro/user') }}
  <div class="service-content">
    <div class="service-content-view">
      <div class="common-content-screen console-content-padding frame-padding-left-0 general">
        <div class="tiny-layout-container clearfix" style="background-color: #ffffff;">
          <div class="ti-leftmenu-container">
            Left menu
          </div>
          <div class="view-style">
            <div class="mainSide realNameAuth">
              {# Header #}
              {% if page.header %}
                {% block header %}
                  <div class="col-sm-12" role="heading">
                    {{ page.header }}
                  </div>
                {% endblock %}
              {% endif %}

              {# Highlighted #}
              {% if page.highlighted %}
                {% block highlighted %}
                  <div class="highlighted">{{ page.highlighted }}</div>
                {% endblock %}
              {% endif %}

              {# Help #}
              {% if page.help %}
                {% block help %}
                  {{ page.help }}
                {% endblock %}
              {% endif %}

              {# Content #}
              {% block content %}
                <a id="main-content"></a>
                {{ page.content }}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}