{#
/**
 * @file
 * Default theme implementation for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - url: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'url' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'url' is supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 *
 * @ingroup themeable
 */
#}

<li class="header-lang">
  <div class="header-lang-current"><i class="header-icon {{ current_language.class }}"></i><span class="header-lang-label">{{ current_language.name }}</span></div>
  <ul {{ attributes.addClass("header-lang-list") }}>
    {% for item in links %}
      <li {{ item.attributes.addClass("header-lang-item") }}>
        {{ item.link }}
      </li>
    {% endfor %}
  </ul>
</li>
{% if logged_in != true %}
  <li class="header-login">
    <a data-login-href="{{ path("user.login") }}" href="{{ path("user.login") }}"  class="btn js-login">
      {% trans %}LOGIN{% endtrans %}
    </a>
  </li>
  <li class="header-register">
    <a href="{{ path("user.register") }}" class="btn js-register">
      {% trans %}REGISTER{% endtrans %}
    </a>
  </li>
{% else %}
<li class="header-user user-info msg" style="display: block">
  <div class="header-user-avator">
    <img class="header-tool-user-avator-img account-pic" src="//static.huaweicloud.com/static/v2_resources/images/global/headPic.png?sttl=20180413&amp;sttl=20185176">
  </div>
  <div class="header-user-name"><span class="my-acct" title="for023">for023</span><i class="header-icon-corner-down"></i></div>
  <div class="header-user-info user-info-layer">
    <ul class="header-user-info-list account-nav">
      <li class="header-user-info-item-account account-item">
        <a href="#">账号中心</a>
        <a class="account-verification header-verification active" href="#">
          <i class="header-icon header-icon-verification"></i>
          <p class="state-unactive">未实名认证</p>
          <p class="state-active">已实名认证</p>
        </a>
      </li>
      <li><a href="#">费用中心</a></li>
      <li><a href="#">工单管理</a></li>
      <li class="message"><a href="#">未读消息<span>0</span></a></li>
      <li class="header-user-info-split"></li>
      <li class="isVendor" style="display:none;"><a href="#">伙伴中心</a></li>
      <li class="isIsv" style="display:none;"><a href="#">卖家中心</a></li>
      <li class="header-user-info-split isVendor isIsv" style="display:none;"></li>
      <li class="logout"><a href="{{ path('user.logout') }}">{% trans %}Logout{% endtrans %}</a></li>
    </ul>
  </div>
</li>
{% endif %}
