{% extends "@bootstrap_barrio/layout/page.html.twig"  %}
{% block head %}
  <div class="header-top">
    <div class="header-main" style="min-height: 30px;">
      {{ page.header }}
      {{ page.header_form }}
    </div>
  </div>

{% endblock %}
{% block footer %}
  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <div class="site-footer__top clearfix">
      {{ page.footer_first }}
      {{ page.footer_second }}
      {{ page.footer_third }}
      {{ page.footer_fourth }}
    </div>
  {% endif %}
  {% if page.footer_fifth %}
    <div class="site-footer__bottom">
      {{ page.footer_fifth }}
    </div>
  {% endif %}
{% endblock %}

