{%
  set classes = [
    'layout',
    'layout--eabax',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.r100 %}
      <div {{ region_attributes.r100.addClass('layout__region', 'layout__region--r100') }}>
        <div class="inner">
          {{ content.r100 }}
        </div>
      </div>
    {% endif %}

    {% if content.r50x50c1 %}
      <div {{ region_attributes.r50x50c1.addClass('layout__region', 'layout__region--r50x50c1') }}>
        <div class="inner">
          {{ content.r50x50c1 }}
        </div>
      </div>
    {% endif %}

    {% if content.r50x50c2 %}
      <div {{ region_attributes.r50x50c2.addClass('layout__region', 'layout__region--r50x50c2') }}>
        <div class="inner">
          {{ content.r50x50c2 }}
        </div>
      </div>
    {% endif %}

    {% if content.r75x25c1 %}
      <div {{ region_attributes.r75x25c1.addClass('layout__region', 'layout__region--r75x25c1') }}>
        <div class="inner">
          {{ content.r75x25c1 }}
        </div>
      </div>
    {% endif %}

    {% if content.r75x25c2 %}
      <div {{ region_attributes.r75x25c2.addClass('layout__region', 'layout__region--r75x25c2') }}>
        <div class="inner">
          {{ content.r75x25c2 }}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}