{{ form.form_build_id }}
{{ form.form_id }}
<div class="widthLimit" ui-view="content">
  <div id="loginAdv" class="ng-scope">
    <a href="{{ path('<front>') }}" target="_blank">
      <img src="https://res-img2.huaweicloud.com/content/dam/cloudbu-site/archive/china/zh-cn/banner/53kf/SA.png" alt="">
    </a>
  </div>
  <div id="loginForm" class="ng-scope">
    <div class="loginTypeDiv">
      <span class="loginTypeNoSelected ng-scope ng-binding" >{% trans %}LOGIN WITH ACCOUNT {% endtrans %}</span>
    </div>

    <ul>
      <li class="errorTip">
        <div id="checkError" style="display: none;">
          <span id="checkErrorInfo" style="color:red;margin-left:0px;" class="ng-binding"></span>
        </div>
        <div id="serverError">
          <span style="font-size:small;color:red;margin-left:0px;" class="ng-binding"></span>
          <span id="goLogin" class="ng-binding"></span>
          <span style="font-size:small;color:red;margin-left:0px;" class="ng-binding"></span>
        </div>
      </li>
      <li class="inputField ng-scope" style="margin-bottom:10px" >
        {{ form.name }}
      </li>

      <li class="inputField" style="margin-bottom: 5px">
        {{ form.pass }}
      </li>
    </ul>


    <div>
      <div id="buttonArea">
        <div id="checkArea">
          <span id="model.chkId" text="model.chkTxt" checked="checked" style="display:inline-block;" class="ng-isolate-scope">
            <div class="tiny-checkbox" id="chkId" style="min-width: 50px;">
              <div class="tiny-checkbox-mark">
                <div class="tiny-checkboxIcon tiny-checkbox-unchecked"></div>
                <label class="tiny-checkbox-content">
                  <a href="{{ path('user.register') }}" >{% trans %} Register {% endtrans %}</a>
                </label>
              </div>
            </div>
          </span>
          <a href="{{ path('<front>') }}" class="loginBottomColor ng-binding" style="float: right;margin-top: 1px;">{% trans %}Forget?{% endtrans %}</a>
        </div>
        {{ form.actions.submit }}
        <div id="bottomBtns" style="display: block;"></div>
      </div>
    </div>

  </div>
</div>