<li class="header-lang">
  <div class="header-lang-current"><i class="header-icon header-icon-lang-zh"></i><span class="header-lang-label">中国站</span></div>
  <ul class="header-lang-list">
    {#<li class="header-lang-item active"><a>中国站 - 简体中文</a></li>#}
    {#<li class="header-lang-item"><a href="javascript:changeLang('en-us');">中国站 - English</a></li>#}
    {#<li class="header-lang-item"><a href="//intl.huaweicloud.com/zh-cn/?locale=zh-cn">International - 简体中文</a></li>#}
    {#<li class="header-lang-item"><a href="//intl.huaweicloud.com/?locale=en-us">International - English</a></li>#}

    {%- for key, item in links -%}
      <li{{ item.attributes.addClass("header-lang-item") }}>
        {%- if item.link -%}
          {{ item.link }}
        {%- elseif item.text_attributes -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- else -%}
          {{ item.text }}
        {%- endif -%}
      </li>
    {%- endfor -%}

  </ul>
</li>

