
  <div class="product-compute-item-part1">
    {{ product.field_image }}
  </div>
  <div class="product-compute-item-part2">
    {{ product.title }}
    {{ product.body }}
  </div>
  <div class="product-compute-item-part3" {{ attributes }}>
    <div class="product-instance-item-part3-title">{% trans %} Hot production {% endtrans %}</div>
    {{ product|without('field_image')|without('title')|without('body') }}
  </div>



